:root {
  --primaryBgColor: '#FFE9D5';
  --secondaryBgColor: '#FFFBF7';
  --primaryFont: 'Montserrat';
  --secondaryFont: 'Philosopher', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primaryFont), sans-serif;
  font-style: normal;
}

.products {
  display: grid;
  min-width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.product__details {
  display: flex;
  border: 1px solid #cbcbcb;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  box-sizing: border-box;
  height: 637px;
}

.detail__title {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  color: #000000;
}
.detail__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  text-align: center;
  color: #000000;
  padding: 8px 0 16px 0;
}
.details__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #000000;
  border-top: 1px solid #cbcbcb;
  padding: 16px 0;
}

.details__info span {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.product__view {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cbcbcb;
  height: 637px;
  justify-content: center;
}

.view__image {
  max-width: 100%;
}
.view__title {
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.view__stars {
  display: flex;
  padding: 9px 0;
}
.view__price {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  text-align: center;
  color: #000000;
}
.view__cta {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #000000;
  margin-top: 8px;
}

.details--bg {
  background: #fffbf7 !important;
}

.ingredients__icon {
  width: 30px;
  height: 30px;
}
.ingredients__icon {
  margin-bottom: 8px;
}
.details__ingredients {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 16px 0 25px 0;
}

.ingredients__element {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.banner__image {
  background-image: url(/assets/images/img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 38px 40px;
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
  color: #ffffff;
}

.banner__image--blue {
  background-image: url(/assets/images/img2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 38px 40px;
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
  color: #ffffff;
}

.product__banner__wrap {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mobile__view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.view__price--off {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  text-decoration-line: line-through;
  color: #000000;
  opacity: 0.5;
  padding-left: 8px;
}
.mobile__view__text {
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  text-align: center;
  color: #000000;
  padding: 8px 0 24px 0;
}
.mobile__view__stars {
  padding: 8px 0;
}
.view__reviews {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  margin-left: 4px;
}

@media (max-width: 800px) {
  .mobile {
    display: none;
  }
  .products {
    grid-template-columns: 1fr;
  }
  .product__banner__wrap {
    grid-column: auto;
    /* height: 366px; */
  }
  .detail__title {
    font-size: 28px;
    line-height: 148%;
  }
  .product__details {
    height: fit-content;
    padding: 40px 16px;
  }

  .banner__image {
    padding: 16px;
    font-size: 32px;
    line-height: 36px;
  }
  .banner__image--blue {
    padding: 16px;
    font-size: 32px;
    line-height: 36px;
  }
  .product__view {
    padding: 24px 0 40px 0;
    height: fit-content;
  }
  .view__image {
    max-width: 80%;
  }
  .mobile__view__text {
    display: block;
  }
}
