:root {
  --primaryBgColor: '#FFE9D5';
  --secondaryBgColor: '#FFFBF7';
  --primaryFont: 'Montserrat';
  --secondaryFont: 'Philosopher', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primaryFont), sans-serif;
  font-style: normal;
}

.similur__products {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.similur__product {
  display: flex;
  width: 100%;
  height: 600px;
  padding-left: 40px;
}

.product__image__wrap {
  width: 560px;
  height: 100%;
  background-image: url(/assets/images/similar1.jpg);
  background-repeat: no-repeat;
  background-color: #eae5dd;
  position: relative;
}

.product__image {
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translate(-20%, -50%);
  max-width: 60%;
}

.product__detail {
  display: flex;
  flex-direction: column;
  padding: 80px 40px;
}

.detail__title {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 148%;
  color: #000000;
}
.detail__ingredient {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  padding: 40px 0 17px 0;
}
.ingredient__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  /* or 24px */
  list-style-type: none;
  color: #000000;
}
.ingredient__cta {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  /* text-align: center; */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-top: 40px;
}

.swiper-button-next-pdp {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #bb6b1e;
  border-radius: 48.5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  right: 14rem;
  top: 50%;
  transform: translate(0%, -50%);
  cursor: pointer;
}

.faq__banner {
  display: flex;
  width: 100%;
  height: 760px;
  padding: 58px 80px;
  align-items: center;
}

.faq__content {
  display: flex;
  flex-direction: column;
  padding-right: 80px;
  max-width: 50%;
}
.faq__banner__suptitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.faq__banner__title {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 148%;
  color: #000000;
  padding: 8px 0 16px 0;
}
.faq__banner__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #000000;
}
.faq__banner__cta {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #000000;
  margin-top: 40px;
}

.faq__banner__img {
  max-width: 50%;
  /* height: 50%; */
  border-radius: 50%;
}

.faq {
  display: flex;
  width: 100%;
  height: fit-content;
  background: #000000;
  padding: 80px 120px 80px 80px;
}

.faq__title {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 78px;
  color: #eae5dd;
  padding-right: 180px;
}

.faq__accardion__title {
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  text-align: start !important;
  letter-spacing: 0.1em !important;
  text-transform: uppercase !important;
  color: #ffffff !important;
}

.faq__accardion__content {
  font-weight: 400 !important;
  font-size: 13px !important;
  line-height: 170% !important;
  color: #ffffff !important;
}

.accordion__item-faq {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 0% !important;
  padding: 16px 0;
}

.accordion__item-faq::after {
  position: absolute;
  right: 1rem;
  top: 20px;
  content: '\002B';
  font-size: 24px;
  top: 10px !important;
  color: white;
}

.faq-accardion {
  border: none !important;
}

@media (max-width: 800px) {
  .swiper-button-next-pdp {
    display: none;
  }
  .similur__product {
    width: 370px !important;

    padding-top: 16px;
    padding-left: 16px;
    flex-direction: column;
  }
  .similur__products {
    height: fit-content !important;
  }
  .product__image__wrap {
    width: 360px !important;
    height: 380px;
  }
  .product__detail {
    padding: 16px;
  }
  .detail__title {
    font-size: 28px;
  }
  .detail__ingredient {
    padding: 16px 0;
  }
  .ingredient__cta {
    padding-top: 16px;
    margin: 0;
  }
  .faq__banner {
    height: fit-content;
    flex-direction: column-reverse;
    padding: 40px 24px;
  }
  .faq__banner__img {
    min-width: 100%;
  }
  .faq__content {
    max-width: 100%;
    padding-top: 24px;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }
  .faq__banner__title {
    font-size: 28px;
    line-height: 148%;
  }
  .faq__banner__text {
    font-size: 14px;
    line-height: 170%;
  }
  .faq {
    flex-direction: column;
    padding: 40px 16px;
  }
  .faq__title {
    font-size: 32px;
    line-height: 36px;
    padding: 0;
    text-align: center;
  }
}
